
/* Adjusting nav as bootstrap toggeler appears at 992px */
@media only screen and (max-width: 992px) {
    a.logo {
        padding: 0;
    }

    div#responsive-navbar-nav {
        background-color: #212121;
        padding: 10px;
    }

    #root>nav {
        min-height: 60px;
    }

    #responsive-navbar-nav {
        height: none !important;
        width: 100%;
    }

    .contact-container{
        flex-direction: column-reverse;
        align-content: center;
        padding: 20px;
        margin-top: 20px !important;
    }

    .form-data{
        word-break: break-word;
    }
}


a.logo {
    font-family: 'Audiowide', cursive;
    font-size: 50px;
}

nav {
    background-color: #212121 !important;
}

nav.navbar {
    padding-left: 10%;
    padding-right: 10%;
}

a.nav-link {
    font-size: 20px;
    padding-right: 40px !important;
}



.text-code{
    color: #5b4cff;
}


.text {
    color: white;
    font-size: 35px;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
    text-align: left
}

.heading{
    font-family: 'Audiowide', cursive;
    font-size: 60px;
    padding: 20px;
    text-align: center;
}
.aboutme{
    text-align: center;
    padding: 20px;
}
.aboutpara{
    padding-left: 30px;
    padding-right: 30px;
}
.card-buttons{
    display: flex;
    justify-content: center;
    margin: 3px;
}
.card-btn{
    margin: 5px;
}

.cta{
    text-align: center;
    font-size: 60px;
    font-family: 'Audiowide', cursive;
    padding: 10px;
}

.card-container{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.card{
    margin: 15px;
}

.contact-container{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    margin-top: 100px;
}

.phone, .email, .social-media{
    margin: 20px
}

.form-label{
    color: #cbcbcb;
    font-size: 25px;
}
.form-data{
    font-size: 30px;
}
.social-icons{
    margin: 7px;
}

.resume-icon, .linkedin-icon, .github-icon{
    margin: 5px;
}

.footer-heading{
    color: black;
    text-align: center;
    font-size: 35px;
}

.main-container-body{
    position: relative;
    min-height: 100vh;
}

.projects-btn{
    font-size: 100px;
}

.page{
    padding-bottom: 2.5rem;
}
