

.aboutme{
    text-align: center;
    padding: 20px;
}
.card-buttons{
    display: flex;
    justify-content: center;
    margin: 3px;
}
.card-btn{
    margin: 5px;
}

.cta{
    text-align: center;
    font-size: 60px;
    font-family: 'Audiowide', cursive;
    padding: 10px;
}

.card-container{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.card{
    margin: 15px;
}

.contact-container{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    margin-top: 100px;
}

.phone, .email, .social-media{
    margin: 20px
}

.form-label{
    color: #cbcbcb;
    font-size: 25px;
}
.form-data{
    font-size: 30px;
}
.social-icons{
    margin: 7px;
}

.resume-icon, .linkedin-icon, .github-icon{
    margin: 5px;
}

.footer-heading{
    color: black;
    text-align: center;
    font-size: 35px;
}

.main-container-body{
    position: relative;
    min-height: 100vh;
}

.projects-btn{
    font-size: 100px;
}

.page{
    padding-bottom: 2.5rem;
}
