

.aboutme{
    text-align: center;
    padding: 20px;
}
.card-buttons{
    display: flex;
    justify-content: center;
    margin: 3px;
}
.card-btn{
    margin: 5px;
}


.card-container{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.card{
    margin: 15px;
}

.footer-heading{
    color: black;
    text-align: center;
    font-size: 35px;
}

.main-container-body{
    position: relative;
    min-height: 100vh;
}

.projects-btn{
    font-size: 100px;
}

.page{
    padding-bottom: 2.5rem;
}

@media only screen and (max-width: 992px) {

    .contact-container{
        padding: 20px;
        margin-top: 20px !important;
    }

    .form-data{
        word-break: break-word;
    }
}
