.monospaceFont {
  font-family: monospace;
}

.resume-icon,
.linkedin-icon,
.github-icon {
  margin: 5px;
}

.contact-item {
  margin: 20px;
}

.form-label {
  color: #cbcbcb;
  font-size: 1.5rem;
}

.form-data {
  font-size: 2rem;
}

.contact-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(340px, 1fr));
  grid-gap: 1rem;
  margin: 10%;
}

.icon-link {
  color: lightslategrey;
}
a {
  text-decoration: none !important;
}

@media only screen and (max-width: 992px) {
  .contact-container {
    margin: 5px 5px 100px 5px;
  }

  .form-data {
    word-break: break-word;
  }

  /* Removed the commented-out styles */
}
