
/* Navbar */
.navbar-toggler{
    margin-bottom: 10px;
}

a.logo {
    font-family: 'Audiowide', cursive;
    font-size: 50px;
}

nav {
    background-color: #212121 !important;
}

nav.navbar {
    padding-left: 10%;
    padding-right: 10%;
}

a.nav-link {
    font-size: 20px;
    padding-right: 40px !important;
}
.navlink{
    margin: 0 10px
}

a.navlink:hover{
    color:grey !important;
    text-decoration: none !important;
}
a.logo{
    text-decoration: none !important;
    color: white;
}


/* Adjusting nav as bootstrap toggeler appears at 992px */
@media only screen and (max-width: 992px) {
    /* nav{
        padding-top:0 !important;
    }
    a.logo {
        padding: 0;
    } */

    div#responsive-navbar-nav {
        background-color: #212121;
        /* padding: 10px; */
    }

    #root>nav {
        min-height: 60px;
    }

    #responsive-navbar-nav {
        height: none !important;
        width: 100%;
    }

    .contact-container{
        flex-direction: column-reverse;
        align-content: center;
        padding: 20px;
        margin-top: 20px !important;
    }

    .form-data{
        word-break: break-word;
    }
}

