/* Navbar */
.navbar {
  position: relative;
  background-color: #212121;
  padding: 0 5%;
}

a.logo,
a.nav-link {
  font-family: "Audiowide", cursive;
  text-decoration: none !important;
}

a.logo {
  font-size: 3rem;
  color: white;
}
.contact-container a {
  color: lightslategrey;
}

a.nav-link {
  font-size: 1.2rem;
  padding-right: 40px !important;
}

.navLinks {
  text-align: center;
}
.navlink {
  text-decoration: none !important;
}

.navbar-toggler {
  border-color: rgb(33, 33, 33) !important;
  position: absolute;
  right: 10px;
}

.navbar-brand {
  position: absolute;
  left: 7%;
}

a.navlink:hover {
  color: grey !important;
}

@media only screen and (max-width: 992px) {
  .navLinks {
    position: absolute;
    width: 95%;
    top: 125%;
    left: 3%;
  }
  div#responsive-navbar-nav {
    background-color: #212121;
  }
}
