.card-container{
    padding: 20px;
}
.portfolio-cards{
    max-width: 350px;
}

.cardLinks{
    display: flex;
    justify-content: space-between;
}
.card-container{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}