.heading {
  text-align: center;
  margin-bottom: 20px;
}

.card-container {
  padding: 20px;
}

.portfolio-cards {
  width: 100%;
}

.cardLinks {
  display: flex;
  justify-content: space-between;
}

.card-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  width: 100%;
}
